# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Build output
dist/
build/
*.egg-info/
.eggs/

# PyInstaller
*.spec.bak

# Generated icons (re-created by create_icons.py)
icons/

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Dev cert (created by CI, never commit)
*.pfx
